@import "tailwindcss";

@layer base {
  body {
    /* Menggunakan dvh (Dynamic Viewport Height) untuk mobile agar tidak terpotong bar browser */
    @apply bg-[#fff5f7] overflow-x-hidden min-h-[100dvh];
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Custom Utilities jika diperlukan */
@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  }
}